@charset "UTF-8";
/* 定义变量 */
@keyframes bell-shake {
  0% {
    transform: rotate(0); }
  10% {
    transform: rotate(6deg); }
  20% {
    transform: rotate(-6deg); }
  30% {
    transform: rotate(4deg); }
  40% {
    transform: rotate(-4deg); }
  50% {
    transform: rotate(2deg); }
  60% {
    transform: rotate(-2deg); }
  100% {
    transform: rotate(0); } }
.card .card-header em, .media .media-body em, .media .media-body i, #group .stat li em, #user .stat li em, ul.user-stat li em, .online em {
  color: #dc3545;
  font-weight: bold;
  font-style: normal; }

.card .card-header + .card-header, .media .media-body h2 small, .media .media-header, ul.user-stat li {
  color: #6c757d; }

.card .card-header + .card-header a:not(.btn) {
  color: #6c757d; }
  .card .card-header + .card-header a:hover:not(.btn) {
    color: #494f54;
    text-decoration: none; }

.media .media-body h2, .media .media-footer, .media .hint, .fa-lock, .fa-times-circle, .ups, .activities {
  color: #939ba2; }

.media .media-footer a:not(.badge) {
  color: #939ba2; }
  .media .media-footer a:hover:not(.badge) {
    color: #6c757d;
    text-decoration: none; }

.footer {
  color: #343a40; }
  .footer:hover {
    color: #121416;
    text-decoration: none; }

h1:hover .hashlink, h2:hover .hashlink, h3:hover .hashlink, h4:hover .hashlink, h5:hover .hashlink, h6:hover .hashlink {
  text-decoration: none;
  display: inline; }

#group img, #group .fa-dot-circle, #user img, #user .fa-user-circle, .img-preview.preview-lg {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  color: #ced4da; }

.popover .media .mr-2 img, .popover .media .mr-2 .fa-user-circle, .img-preview.preview-md {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  color: #ced4da; }

.media .mr-3 img, .media .mr-3 .fa-user-circle, .media .mr-3 .fa-dot-circle, .user-list img, .user-list .mx-auto svg, .img-preview.preview-sm {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  color: #ced4da; }

.navbar img, .navbar .fa-user-circle, .media .mr-2 img, .media .mr-2 .fa-user-circle, .media .mr-2 .fa-dot-circle, .ups img, .ups .fa-user-circle, .activities img, .activities .fa-user-circle, .online .card-body li img, .online .card-body li .fa-user-circle {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  color: #ced4da; }

.media-list li.media h2 a, .media .media-body h2 small {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.card .card-header ul:not(.nav), .card .card-body ul, .media-list, ul.user-stat {
  padding-left: 0;
  list-style: none; }

.card .card-header, .media .media-body h2, .media .media-header, .media .media-footer, .ups, .activities, #group .stat, #user .stat, .user-list, .user-footer, ul.user-stat {
  display: -ms-flexbox;
  display: flex; }

.media .media-header, .ups, .activities, .user-list {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.card .card-header, .media .media-body h2, .media .media-header, .media .media-footer, .ups, .activities, #group .stat, #user .stat, .user-footer, ul.user-stat {
  -ms-flex-align: center;
  align-items: center; }

.card .card-header {
  -ms-flex-pack: justify;
  justify-content: space-between; }

#group .stat li, #user .stat li, ul.user-stat li {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

h1 {
  font-size: 1.875rem; }

h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1.25rem; }

h4 {
  font-size: 1.125rem; }

h5 {
  font-size: 1rem; }

h6 {
  font-size: 0.875rem; }

.red, .card .card-header + .card-header a.down:hover, .card .card-header + .card-header a.down.active, .media .media-footer span:not(.dot) a.down:hover, .media .media-footer span:not(.dot) a.down.active, .calendar thead th:first-child, .calendar thead th:last-child, .fa-heart, .fa-fire, .fa-question-circle, .fa-venus {
  color: #dc3545; }

.green, .card .card-header + .card-header a.up:hover, .card .card-header + .card-header a.up.active, .media .media-footer span:not(.dot) a.up:hover, .media .media-footer span:not(.dot) a.up.active, .fa-check-circle {
  color: #28a745; }

.blue, .fa-mars {
  color: #007bff; }

.yellow, .card .card-header + .card-header a.favorite:hover, .card .card-header + .card-header a.favorite.active, .fa-gem {
  color: #ffc107; }

/* 全局样式开始 */
html {
  position: relative;
  min-height: 100%;
  font-size: 16px; }

body {
  font-family: -apple-system, "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif;
  background-color: #f8f9fa;
  margin-bottom: 57px; }
  body > .container {
    padding-top: 72px; }

.container {
  padding-left: 10px;
  padding-right: 10px; }
  .container .row {
    margin-left: -10px;
    margin-right: -10px; }
    .container .row > [class*="col-"] {
      padding-left: 10px;
      padding-right: 10px; }

.btn {
  padding: .25rem .75rem; }

.btn-sm {
  padding: .125rem .25rem; }

img {
  max-width: 100%;
  height: auto; }
  img.emoji {
    vertical-align: top; }

pre {
  border-radius: 0.25rem; }

blockquote {
  background-color: #e2e3e5;
  border-left: 0.25rem solid #848b92;
  color: #383d41;
  padding: .5rem 1rem;
  border-radius: 0.25rem; }
  blockquote.warning {
    background-color: #f8d7da;
    border-color: #e25563;
    color: #721c24; }
  blockquote.note {
    background-color: #fff3cd;
    border-color: #ffcb2f;
    color: #856404; }
  blockquote.info {
    background-color: #cce5ff;
    border-color: #2990ff;
    color: #004085; }
  blockquote.tip {
    background-color: #d4edda;
    border-color: #4ab563;
    color: #155724; }
  blockquote.ad {
    background-color: #d1ecf1;
    border-color: #3cb1c3;
    color: #0c5460; }
  blockquote.ad a {
    color: #0c5460; }
  blockquote ul, blockquote ol, blockquote p:last-child {
    margin-bottom: 0; }

.form-group.row small.form-text {
  font-size: .875rem;
  margin-top: .5rem; }

.table {
  table-layout: fixed; }
  .table th {
    text-align: center; }

/* 全局样式结束 */
/* 主导航开始 */
.navbar .navbar-brand {
  padding: 0; }
  .navbar .navbar-brand img {
    height: 40px; }
.navbar .navbar-nav .dropdown-menu {
  padding: .25rem 0; }
.navbar .navbar-nav .dropdown-divider {
  margin: .25rem 0; }
.navbar .dropdown .nav-link {
  padding: 0; }
.navbar .badge {
  font-weight: normal;
  color: #fff;
  background-color: #dc3545;
  border-radius: 1rem;
  min-width: 1.25rem;
  padding: .25rem; }
.navbar .navbar-collapse .navbar-nav:not(.mr-auto) {
  margin-left: .25rem;
  flex-grow: 0; }
  .navbar .navbar-collapse .navbar-nav:not(.mr-auto) .nav-link {
    padding-right: 0;
    min-width: 50px;
    text-align: center; }
  .navbar .navbar-collapse .navbar-nav:not(.mr-auto) .dropdown .nav-link {
    padding-top: 0;
    padding-bottom: 0;
    height: 40px;
    display: table-cell;
    vertical-align: middle; }
    .navbar .navbar-collapse .navbar-nav:not(.mr-auto) .dropdown .nav-link.dropdown-toggle:after {
      display: none; }
    .navbar .navbar-collapse .navbar-nav:not(.mr-auto) .dropdown .nav-link .fa-bell {
      animation: bell-shake 1s ease infinite; }
    .navbar .navbar-collapse .navbar-nav:not(.mr-auto) .dropdown .nav-link .badge {
      position: absolute;
      top: .25rem;
      left: 1.75rem;
      -webkit-transform: scale(0.75);
      transform: scale(0.75); }

/* 主导航结束 */
/* 页面底部开始 */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: rgba(0, 0, 0, 0.1) solid 1px;
  background-color: #fff; }

/* 页面底部结束 */
.card .card-header {
  padding: .5rem  1rem; }
  .card .card-header h1 {
    margin-top: .5rem;
    font-size: 1.5rem; }
  .card .card-header h2 {
    font-size: 1.125rem;
    margin: .125rem 0; }
  .card .card-header ul:not(.nav) {
    margin-bottom: 0; }
    .card .card-header ul:not(.nav) li {
      display: inline-block;
      margin-right: 1rem; }
  .card .card-header .nav-link {
    font-size: 0.875rem;
    padding: 0.125rem .5rem; }
  .card .card-header .dropdown .dropdown-toggle {
    font-size: 0.875rem;
    padding: .2rem .5rem; }
  .card .card-header .dropdown .dropdown-menu {
    min-width: 0; }
    .card .card-header .dropdown .dropdown-menu .dropdown-item {
      font-size: 0.875rem; }
  .card .card-header + .card-header {
    padding: .75rem  1rem; }
    .card .card-header + .card-header a.down {
      margin-left: 1rem; }
.card .card-body {
  padding: 1rem; }
  .card .card-body ul {
    margin-bottom: 0; }
.card .card-footer {
  padding: .5rem  1rem; }
  .card .card-footer .form-group {
    margin-bottom: 0; }
  .card .card-footer .pagination {
    margin-bottom: 0; }

/* media 开始 */
.col-lg-9 .media-list > .media, .col-lg-6 .media-list > .media {
  padding: 1rem; }

.col-lg-3 .media-list .media {
  padding-bottom: .5rem;
  margin-bottom: .5rem; }
  .col-lg-3 .media-list .media:last-child {
    margin-bottom: 0;
    padding-bottom: 0; }
  .col-lg-3 .media-list .media .media-body {
    font-size: 0.875rem; }

.card-deck .media-list .media {
  padding-bottom: 1rem;
  margin-bottom: 1rem; }
  .card-deck .media-list .media:last-child {
    margin-bottom: 0;
    padding-bottom: 0; }
  .card-deck .media-list .media .media-body {
    font-size: 0.875rem; }

.media-list li.media:not(:last-child) {
  border-bottom: rgba(0, 0, 0, 0.1) solid 1px; }
.media-list li.media .media {
  border-top: rgba(0, 0, 0, 0.1) solid 1px; }

.media .badge-pill {
  margin-left: 1rem; }
.media .badge-primary {
  font-size: 0.875rem;
  font-weight: normal; }
.media .dot {
  margin: 0 .5rem; }
.media .media-body {
  min-width: 0;
  word-break: break-all; }
  .media .media-body h2 {
    font-size: 1.125rem;
    margin-bottom: .25rem; }
    .media .media-body h2 small {
      margin-left: .25rem; }
    .media .media-body h2 a {
      white-space: nowrap; }
  .media .media-body h3 {
    font-size: 1rem;
    margin-bottom: 0; }
    .media .media-body h3 + .media-footer {
      margin-top: 0; }
      .media .media-body h3 + .media-footer i {
        font-size: 1rem; }
      .media .media-body h3 + .media-footer em {
        margin-left: auto;
        font-size: 1.25rem; }
  .media .media-body h4 {
    font-size: 0.875rem;
    margin-bottom: 0; }
    .media .media-body h4 + .media-footer {
      margin-top: .25rem;
      line-height: 1rem; }
      .media .media-body h4 + .media-footer i {
        margin: 0 .25rem; }
.media .media-header {
  font-size: 0.875rem;
  margin-bottom: .5rem; }
  .media .media-header span {
    margin-left: auto; }
.media .media-footer {
  font-size: 0.875rem;
  margin-top: .5rem; }
  .media .media-footer .badge {
    margin-right: .5rem; }
  .media .media-footer span:not(.dot) {
    margin-left: auto; }
    .media .media-footer span:not(.dot) a {
      margin-left: .75rem; }
.media .hint {
  margin: .5rem 0; }
.media .badge.mt-1, .media .badge.mt-2 {
  display: block;
  font-weight: normal;
  padding: .25rem 0;
  font-size: 0.875rem; }
  .media .badge.mt-1 i, .media .badge.mt-2 i {
    font-size: 0.75rem;
    font-style: normal; }

/* 签到开始 */
.btn-group.d-flex .btn {
  font-size: 0.875rem;
  padding-left: .5rem;
  padding-right: .5rem; }
  .btn-group.d-flex .btn .fa-calendar-plus, .btn-group.d-flex .btn .fa-calendar-check {
    font-size: 2.4rem;
    margin-right: .25rem; }
  .btn-group.d-flex .btn.disabled {
    padding-left: 0;
    padding-right: 0; }

.calendar {
  width: 100%;
  table-layout: fixed;
  max-width: 500px;
  text-align: center; }
  .calendar thead th {
    text-align: center;
    padding-bottom: .25rem;
    font-size: 1.125rem; }
  .calendar tbody tr td {
    padding: 0;
    height: 40px;
    text-align: center; }
    .calendar tbody tr td span, .calendar tbody tr td .btn {
      color: #fff;
      font-weight: 400;
      border-radius: 50%;
      padding: 2px 0;
      width: 30px;
      display: inline-block;
      border: 1px solid transparent; }

/* 签到结束 */
/* 投票收藏开始 */
.fa-user-circle {
  vertical-align: middle; }

.fa-mars, .fa-venus {
  font-weight: bold; }

/* 投票收藏结束 */
/* 赞列表开始 */
.ups, .activities {
  font-size: 0.875rem;
  margin: 10px 0; }
  .ups a, .activities a {
    margin: 0 .25rem; }
    .ups a:first-child, .activities a:first-child {
      margin-left: 0; }

/* 赞列表结束 */
.card-deck {
  margin-left: -10px;
  margin-right: -10px; }
  .card-deck .card {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 1rem; }

/* 第三方登录开始 */
.auth-clients {
  padding: 0;
  text-align: center;
  list-style: none; }
  .auth-clients .auth-client {
    float: none; }
  .auth-clients .btn {
    position: relative;
    padding-left: 50px;
    text-align: left; }
    .auth-clients .btn .fa-fw {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 2.5rem;
      height: 32px;
      padding: .25rem;
      border-right: 1px solid rgba(0, 0, 0, 0.2); }

/*第三方登录结束 */
#group {
  text-align: center; }
  #group p {
    margin-top: .5rem;
    font-size: 0.875rem; }
  #group .btn {
    margin: 0 .5rem; }
  #group .stat {
    border-top: rgba(0, 0, 0, 0.1) solid 1px;
    padding-top: .75rem; }
    #group .stat li {
      font-size: 1.25rem;
      border-right: rgba(0, 0, 0, 0.1) solid 1px; }
      #group .stat li em {
        display: block; }
      #group .stat li:last-child {
        border-right: none; }

/* 个人主页开始 */
#user {
  text-align: center;
  padding: 45px 0 0 0; }
  #user p {
    font-size: 0.875rem; }
  #user .fa-mars, #user .fa-venus {
    font-size: 1.875rem;
    position: absolute;
    top: 70px;
    right: calc(50% - 70px); }
  #user .btn {
    margin: 0 .5rem; }
  #user .stat {
    border-top: rgba(0, 0, 0, 0.1) solid 1px;
    padding-top: 1rem; }
    #user .stat li {
      font-size: 1.25rem;
      border-right: rgba(0, 0, 0, 0.1) solid 1px; }
      #user .stat li em {
        display: block; }
      #user .stat li:last-child {
        border-right: none; }

.user-info {
  font-size: 0.875rem;
  line-height: 2em; }

.user-list {
  margin: -5px; }
  .user-list li {
    margin: 6px; }

.user-footer .btn {
  padding: 0.1rem 0.4rem; }
  .user-footer .btn.follow {
    margin-right: .25rem; }
.user-footer span {
  font-size: 1rem;
  margin-left: auto; }

ul.user-stat {
  margin: .5rem 0; }
  ul.user-stat li {
    text-align: center;
    padding: .25rem 0;
    border-top: rgba(0, 0, 0, 0.1) solid 1px;
    border-right: rgba(0, 0, 0, 0.1) solid 1px;
    border-bottom: rgba(0, 0, 0, 0.1) solid 1px; }
    ul.user-stat li em {
      display: block; }
    ul.user-stat li:last-child {
      border-right: none; }

.popover {
  width: 280px;
  min-height: 200px; }
  .popover .fa-spinner {
    margin: 60px 0 0 90px; }

/* 个人中心结束 */
/* 在线会员开始 */
.online {
  position: fixed;
  width: 48px;
  top: 72px;
  left: 5px;
  z-index: 999; }
  .online .card-header, .online .card-footer {
    color: #007bff;
    font-size: 0.875rem;
    padding: .25rem 0;
    text-align: center; }
  .online .card-body {
    max-height: calc(100vh - 200px);
    overflow-y: hidden; }
    .online .card-body li {
      padding: .25rem .25rem 0; }

/* 在线会员结束 */
/* 头像编辑器开始 */
.img-container {
  margin-bottom: 1rem;
  min-height: 200px;
  max-height: 408px; }
  @media (min-width: 768px) {
    .img-container {
      min-height: 408px; } }

.img-preview {
  float: left;
  overflow: hidden;
  margin-top: 1rem;
  margin-right: .75rem; }

/* 头像编辑器结束 */
a.back-to-top {
  position: fixed;
  bottom: 8rem;
  right: 1rem;
  border-radius: 50%;
  display: none;
  z-index: 999;
  cursor: pointer;
  font-size: 2rem;
  width: 48px;
  height: 48px;
  text-align: center;
  background: rgba(0, 0, 0, 0.35); }
  a.back-to-top .fa-angle-up {
    color: #fff; }
  a.back-to-top:hover {
    background: rgba(0, 0, 0, 0.5); }

.progress {
  font-size: 0.875rem;
  height: 1.25rem; }

.detail-view th {
  width: 10rem; }

/*# sourceMappingURL=site.css.map */
